@use '../../../styles/globals' as global;

@mixin modal-el-edit {
  width: 100%;
  background-color: global.$low-priority-color;
  border: none;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  color: global.$font-color;
}

.modal {
  width: 500px;
  height: 330px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: global.$background-color;
  z-index: 1000;
  font-size: global.$font-size-s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

//.content-title {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  width: 100%;
//  color: global.$main-color;
//}
.close-cross {
  width: 15px;
  height: 15px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}

.close-cross:before,
.close-cross:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 15px;
  height: 2px;
  background-color: global.$main-color;
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-cross:before {
  webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
}

.content {
  h3 {
    color: global.$main-color;
    font-size: global.$font-size-l;
  }

  input {
    @include modal-el-edit;
  }

  input::placeholder {
    color: global.$font-color;
  }

  textarea {
    resize: none;
    @include modal-el-edit;

  }

  textarea::placeholder {
    color: global.$font-color;
    font-family: Inter, sans-serif;

  }

  button {
    @include modal-el-edit;
    cursor: pointer;
    background-color: global.$main-color;
  }
}

.content-details {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.content-details__group {
  p {
    padding-bottom: 3px;
    color: global.$main-color;
  }

  span {
    display: block;
    @include modal-el-edit
  }

  span p {
    color: global.$font-color;
  }

  select {
    @include modal-el-edit
  }

  input {
    color: global.$font-color;
  }
}
