.note-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.drag-and-drop-dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}
.dot{
    width: 5px;
    height: 5px;
    background-color: white;
    display: block;
    border-radius: 50%;
}

.note-list-item {
    background: #a3736f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.note-list-text{
    padding: 7px;
    overflow: hidden;
}
.note-list-title{
    font-size: 18px;
    padding-bottom: 3px;
}
.note-list-date{
    font-style: italic;
    font-size: 14px;
}
@media(max-width: 1023px) {
    .note-list-title{
        font-size: 14px;
    }
    .note-list-date {
        font-size: 10px;
    }
}
