$border-radius: 10px;

//Main colors
$background-color: #EEE4DD;
$main-color: #051D46;
$font-color: #fff;
$high-priority-color: #051D46;
$medium-priority-color: #374A6B;
$low-priority-color: #697790;
$error-color: #d167a1;


//font
$font-size-xl: 30px;
$font-size-l: 20px;
$font-size-m: 18px;
$font-size-s: 14px;
$font-size-xs: 12px;






