$border-radius: 10px;

//Main colors
$background-color: #d9dce3;
$main-color: #050e1e;
$font-color: #d9dce3;
$high-priority-color: #050e1e;
$medium-priority-color: #091b38;
$low-priority-color: #1a3054;
$error-color: #d167a1;

//font
$font-size-xl: 30px;
$font-size-l: 20px;
$font-size-m: 18px;
$font-size-s: 14px;
$font-size-xs: 12px;


$border-radius: 10px;





