@use '../../styles/globals' as global;

.container {
  height: 100%;
  width: 100%;
  align-self: start;
  padding: 30px 0;
  position: relative;
  background-color: global.$background-color;
}

.container {
  h1 {
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    color: global.$main-color;
  }

  h1::first-letter {
    text-transform: uppercase;
  }
}

.add-cross {
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}

.add-cross:before,
.add-cross:after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: global.$main-color;
}

.add-cross:before {
  webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media(max-width: 1023px) {
  .container-header {
    font-size: 25px;
  }
}
