@use '../../styles/globals' as global;

@mixin modal-el-edit {
  width: 100%;
  background-color: global.$high-priority-color;
  border: none;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  color: global.$font-color;
  font-family: Inter, sans-serif;
  font-size: global.$font-size-s;
}

.modal {
  width: 500px;
  height: 360px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: global.$background-color;
  z-index: 1000;
  font-size: global.$font-size-s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

//.content-title {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  width: 100%;
//  color: global.$main-color;
//}
.close-cross {
  width: 15px;
  height: 15px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}

.close-cross:before,
.close-cross:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 15px;
  height: 2px;
  background-color: global.$main-color;
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-cross:before {
  webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
}

.content {
  h3 {
    color: global.$main-color;
    font-size: global.$font-size-xl;
  }

  label {
    width: 100%;
    position: relative;
  }

  input {
    @include modal-el-edit;
    border: 2px solid transparent;
  }

  .input_error {
    border: 2px solid global.$error-color;
  }

  .error_span {
    color: global.$error-color;
    font-size: global.$font-size-xs;
    position: absolute;
    bottom: -15px;
    left: 5px;
  }

  input::placeholder {
    color: global.$font-color;
  }

  textarea {
    resize: none;
    @include modal-el-edit;
  }

  textarea::placeholder {
    color: global.$font-color;
    font-family: Inter, sans-serif;
  }

  button {
    @include modal-el-edit;
    cursor: pointer;
    background-color: global.$main-color;
    color: global.$font-color;
  }

  button:disabled {
    opacity: 0.3;
  }
}

.content-details {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.content-details__group {
  p {
    padding-bottom: 3px;
    color: global.$main-color;
  }

  .content-details__group-date {
    display: block;
    @include modal-el-edit;
    border: 2px solid transparent;
  }

  span p {
    color: global.$font-color;
  }

  select {
    @include modal-el-edit;
    border: 2px solid transparent;
  }

  label {
    position: relative;
  }

  input {
    color: global.$font-color;
  }

  .error_span {
    bottom: -28px;
    left: 5px;
  }

}

.error_span {
  color: global.$error-color;
  font-size: global.$font-size-xs;
  position: absolute;
  bottom: -15px;
  left: 5px;
}

input, textarea:focus {
  outline: none;
}

input, textarea :focus-visible {
  outline: none;
}

.counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: global.$high-priority-color;
}

@media(max-width: 589px) {
  .content {
    gap: 10px;
  }
  .modal {
    width: 100%;
    max-width: 300px;
    height: 450px;
    font-size: global.$font-size-s;
  }
  .content-details {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
  }
  .content-details__group {
    width: 100%;
  }

}