@mixin modal-el-edit{
  width: 100%;
  background-color: #BF9292;
  border: none;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}

.modal{
  width: 500px;
  height: 330px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #000;
  z-index: 1000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.button-close:before,
.button-close:after{
  content: "";
  position: absolute;
  top: 25px;
  right: 20px;
  width: 20px;
  height: 2px;
  background: #fff;
  cursor: pointer
}

.button-close:after{
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-close:before {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  color: white;
}
.content {
  input {
    @include modal-el-edit
  }
  textarea {
    resize: none;
    @include modal-el-edit
  }
  button {
    cursor: pointer;
    @include modal-el-edit
  }
}
.content-details {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.content-details__group {
  p{
    font-size: 14px;
    padding-bottom: 3px;
  }
  span{
    display: block;
    @include modal-el-edit
  }
  select{
    @include modal-el-edit
  }
}
