@use '../../../styles/variables' as global;
@use '../../../styles/mixins' as mixins;

.wrapper {
  width: 100%;
  position: relative;
}

.textarea {
  resize: none;
  @include mixins.modal-el-edit;
  border: none;
  border-radius: 10px;
}

.textarea::placeholder {
  color: global.$font-color;
  font-family: Inter, sans-serif;
}

.textarea:focus {
  outline: none;
}

.textarea :focus-visible {
  outline: none;
}

.counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
}