@use '../../styles/variables' as global;

.priority_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 85%;
  margin: 0 auto;
}

.note_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 0;
  margin: 0;

}

.priority_block {
  h2 {
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: global.$font-size-m;
    width: 100%;
    border-radius: global.$border-radius;
    margin: 30px 0 15px;
  }
}

.high {
  background: global.$high-priority-color;
}

.medium {
  background: global.$medium-priority-color;
}

.low {
  background: global.$low-priority-color;
}

@media(max-width: 1023px) {
  .priority-block-title {
    font-size: global.$font-size-s;
  }
}

