/*Desktop FIRST*/
@use 'styles/globals' as global;

#root {
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  min-height: 100vh;
}

body,
h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  color: global.$font-color;
  position: relative;
}

#modal {
}

// #TODO Перенести в переменную бордер радиус

@media(max-width: 767px) {
  #root {
    display: block;
  }
}
